.films {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.film {
    width: 90%;
    min-height: 100px;
    padding: 20px;
    margin-bottom: 50px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 4px solid rgb(0, 0, 0);
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 