.btn-ip {
    width: 200px;
    height: 50px;
    background-color: rgb(4, 0, 234);
    color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
}

.adress {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.adress div {
    margin-bottom: 5px;
}