* {
    font-family: 'Chirp', sans-serif;
    word-spacing: 1px;
}

body {
    position: relative;
    margin: 0;
    height: 100vh;
}

.list-cards {
    width: 600px;
    margin: 0 auto;
}

.card {
    padding: 16px;
    border: 1px solid #eff3f4;
    display: flex;
    position: relative;
}


.card-photo {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    
}

.card-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.about-user {
    display: flex;
    margin-bottom: 5px;
}

.full-name {
    font-weight: 600;
}

.email {
    margin-left: 5px;
    color: #526371;
}

.title {
    margin-bottom: 5px;
}

.text {
    width: 500px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid rgb(0, 0, 0);
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 

.btn-delete,
.btn-edit,
.btn-tick,
.btn-cross {
    width: 20px;
    height: 20px;
    fill: #526371;
    position: absolute;
    top: 16px;
    right: 16px;
}
.btn-delete:hover,
.btn-edit:hover,
.btn-tick:hover,
.btn-cross:hover {
    fill: #000;
}

.btn-edit,
.btn-tick {
    right: 41px;
}

.create-post {
   position: absolute;
   width: 100%;
   height: 100vh;
   top: -20px;
   left: 0;
   z-index: 1;
   background-color:#0000006e;
}

.post-form.card {
    width: 504px;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.about-post {
    display: flex;
    flex-direction: column;
}

#title,
#text {
    margin: 15px 0 10px;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    padding: 10px;
    width: 482px;

}

#text {
    margin-top: 0;
    margin-bottom: 15px;
    height: 100px;
}


.btn-create {
    width: 40%;
    height: 40px;
    margin: 0 auto;
    background-color: #1c9bef;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 16px;
    background-color: #1c9bef;
    fill: #fff;
    border: none;
    border-radius: 5px;
}

.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin: 20px auto;
    background-color: #1c9bef;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}
